.featured {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 10px;
  margin-top: 50px;

  z-index: 1;
}

.featuredItem {
  cursor: pointer;
  position: relative;
  color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  height: 250px;
}

.featuredImg {
  width: 400px;
  height: 300px;
  object-fit: cover;
}

.featuredTitles {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

@media screen and (max-width: 440px) {
  .featured {
    display: flex;
    justify-content: space-evenly;
    gap: 0px;
    padding: 0px;
    z-index: 1;
  }

  .featuredItem {
    cursor: pointer;
    position: relative;
    color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    width: 22%;
    height: 250px;
  }

  .featuredImg {
    width: 100px;
    height: 250px;
    object-fit: cover;
  }

  .featuredTitles {
    position: absolute;
    bottom: 8px;
    left: 4px;
  }

  .placesTitles {
    font-size: 15px;
    margin-bottom: 0px;
  }

  .propertiesNo {
    font-size: 12px;
  }
}

@media screen and (max-width: 300px) {
  .featured {
    display: flex;
    justify-content: space-evenly;
    gap: 0px;
    padding: 0px;
    z-index: 1;
  }

  .featuredItem {
    cursor: pointer;
    position: relative;
    color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    width: 22%;
    height: fit-content;
  }

  .featuredImg {
    width: 100px;
    height: 120px;
    object-fit: cover;
  }

  .featuredTitles {
    position: absolute;
    bottom: 8px;
    left: 2px;
  }

  .placesTitles {
    font-size: 12px;
    margin-bottom: 0px;
  }

  .propertiesNo {
    font-size: 11px;
  }
}
