.listContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background-color: #fffc55;
  margin-top: -1%;
}

.listWrapper {
  height: 100vh;
  width: 100%;
  max-width: 1024px;
  display: flex;
  gap: 10px;
  padding: 50px;
  margin-left: 5%;
}

.listSearch {
  flex: 1;
  background-color: #363636;
  padding: 10px;
  border-radius: 10px;
  position: sticky;
  margin-left: -15%;
  top: 10px;
  height: max-content;
  width: 500px;
}

.listSearchTitle {
  font-family: Courier, monospace;
  font-style: 20px;
  padding: 10px 0px;
  color: #ffe600;
  margin-bottom: 20px;
}

.listResult {
  flex: 3;
  width: 100%;
}

.listSearchItem {
  color: #ffe600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 10px;
}

.listSearchItem>input {
  font-size: 14px;
  color: black;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  height: 20px;
  margin-bottom: 10px;
  width: 250px;
}

.listSearchItem>span {
  height: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.optionItems {
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 5px;
}

.optionItem {
  font-size: 14px;
  display: flex;
  justify-content: space-evenly;
}

.optionItemLabel {
  white-space: nowrap;
  margin-right: 30px;
  padding-right: 80px;
  width: 00%;
}

.optionItem>input {
  color: black;
  display: flex;
  width: 100px;
  border: none;
  border-radius: 5px;
  margin-left: 5%;
}

.optionItem>input::placeholder {
  color: black;
}

.searchBtn {
  cursor: pointer;
  border: none;
  background-color: black;
  color: white;
  padding: 10px 40px;
  margin-left: 80px;
}

.noResults {
  align-self: flex-start;
}

@media screen and (max-width: 440px) {
  .listContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: #fffc55;
    margin-top: -1%;
  }

  .listWrapper {
    height: 100vh;
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 10px;
    padding: 3%;
    margin-left: 5%;
  }

  .listSearch {
    flex: 1;
    background-color: #363636;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    margin-left: 0%;
    top: 10px;
    height: max-content;
    width: 100px;
  }

  .listSearchTitle {
    font-family: Courier, monospace;
    font-size: 17px;
    padding: 0px;
    color: #ffe600;
    margin-bottom: 20px;
    margin-left: -3px;
  }

  .listResult {
    flex: 3;
    width: 100%;
  }

  .listSearchItem {
    color: #ffe600;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding-bottom: 10px;
    margin: -4px;
  }

  .listSearchItem>label {
    font-size: 10px;
  }

  .listSearchItem>input {
    height: fit-content;
    width: fit-content;
    font-size: 7px;
    color: black;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .listSearchItem>span {
    font-size: 10px;
    height: fit-content;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .optionItems {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    padding: 1px;
    gap: 5px;
  }

  .optionItem {
    width: 100%;
    font-size: 7px;
    display: flex;
    justify-content: space-between;
    margin: 0px;
  }

  .optionItemLabel {
    font-size: 7px;
    white-space: nowrap;
    margin-right: 0px;
    padding-right: 0px;
    width: fit-content;
    height: fit-content;
  }

  .optionItem>input {
    color: black;
    display: flex;
    border: none;
    border-radius: 5px;
    margin: 0%;
    font-size: 7px;
    width: 37px;
    height: fit-content;
  }

  .optionItem>input::placeholder {
    color: black;
  }

  .searchBtn {
    cursor: pointer;
    border: none;
    background-color: black;
    color: white;
    padding: 10px 40px;
    margin-left: 80px;
  }

  .noResults {
    align-self: flex-start;
  }

  .date {
    height: 350px;
    position: absolute;
    top: 29px;
    right: 0px;
  }

  .dateInList {
    position: absolute;
    top: 128px;
    z-index: 2;
    height: 360px;
    width: 199px;
    color: #000000;
    font-size: 12px;
  }

  .rdrDateDisplayItemActive {
    height: fit-content;
    border-color: currentColor;
  }

  .rdrDateDisplayItemActive input {
    font-size: x-small;
    color: #7d888d;
  }

  .rdrMonthAndYearWrapper {
    width: 201px;
    align-items: center;
    height: 76px;
    padding-top: 10px;
  }

  .rdrNextPrevButton {
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 0.833em;
    padding: 0;
    border: 0;
    border-radius: 5px;
    background: #EFF2F7;
  }

  .rdrMonthAndYearPickers {
    position: absolute;
    right: 97px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: -15px;
    font-weight: 600;
  }

  .rdrMonthPicker,
  .rdrYearPicker {
    font-size: x-small;
    width: 57px;
    margin: 0 5px;
  }

  .rdrMonthAndYearPickers select {
    width: 99px;
    font-size: 12px;
  }

  .rdrDateDisplayItem+.rdrDateDisplayItem {
    height: fit-content;
    margin-left: 0.833em;
  }

  .rdrYearPicker {
    font-size: xx-small;
    width: 55px;
    margin: 0 5px;
  }

  .rdrMonthsVertical {
    height: fit-content;
    flex-direction: column;
  }

  .rdrMonth {
    width: 193px;
    padding: 0 0.833em 1.666em 0.833em;
  }

  .rdrMonthsVertical {
    height: 200px;
    flex-direction: column;
  }

  .rdrNextButton i {
    margin: 0 0 0 0px;
    border-width: 4px 4px 4px 6px;
    border-color: transparent transparent transparent rgb(52, 73, 94);
    transform: translate(3px, 0px);
  }

  .rdrWeekDays {
    width: 94% !important;
    display: flex;
  }

  .rdrDays {
    width: 189px;
    height: 169px;
    display: flex;
    flex-wrap: wrap;
  }

  .rdrDay {
    font-size: 10px !important;
    width: 27px;
    font-size: xx-small;
    background: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 0;
    padding: 0;
    line-height: 3.000em;
    height: 3em;
    text-align: center;
    color: #1d2429;
  }

  .headerSearchItem {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    margin-right: -10px;
  }

  .headerSearchBtn {
    position: absolute;
    bottom: -41px;
    right: 159px;
    background-color: rgb(66, 66, 66);
    color: white;
    font-weight: 500;
    font-size: xx-small;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }

  .headerSearchInput {
    border: none;
    outline: none;
    font-size: x-small;
  }


  .options {
    position: absolute;
    top: 32px;
    right: 16px;
    background-color: white;
    color: #494949;
    border-radius: 5px;
    box-shadow: 0px 0px 10px -5px;
    z-index: 1;
  }

  .optionItem {
    width: 100%;
    justify-content: space-between;
    display: flex;
    margin: 0px;
    gap: 3px;
  }

  .optionText {
    font-size: 12px;
    margin-right: 5px;
  }

  .optionCounter {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
  }

  .optionCounterBtn {
    border: 1px solid #c5c200;
    color: #9c9a00;
    cursor: pointer;
  }

  .optionCounterBtn:disabled {
    cursor: not-allowed;
  }
}