.searchItem {
  background-color: #363636;
  color: #fffb06;
  border: 1px solid #333232;
  border-radius: 5px;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  font-family: monospace, "Lucida Console";
  justify-content: center;
}

.searchItemImg {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.searchItemDesc {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 2;
  width: fit-content;
}

.searchItemTitle {
  font-size: 30px;
}

.searchItemTaxiOption {
  background-color: #008009;
  color: white;
  width: max-content;
  padding: 2px;
  border-radius: 5px;
}

.searchItemSubtitle {
  font-weight: bold;
}

.searchItemCancelOption {
  color: white;
  font-weight: bold;
}

.searchItemCancelOptionSubtitle {
  color: white;
}

.searchItemDetails {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.searchItemRating {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.searchItemRating>span {
  font-weight: 500;
  font-size: 20px;
}

.searchItemRating>button {
  background-color: #fffb06;
  color: black;
  padding: 5px;
  font-weight: bold;
  border: none;
  margin-right: 10px;
}

.searchItemDetailsText {
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 10px;
}

.searchItemPrice {
  font-size: 24px;
}

.searchItemDetailsTaxiOption {
  font-size: 12px;
  white-space: nowrap;
}

.searchItemCheckBtn {
  background-color: #fffb06;
  color: #333232;
  border: none;
  cursor: pointer;
  padding: 10px 5px;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 10px;
}

@media screen and (max-width: 440px) {
  .searchItem {
    width: 96%;
    font-size: 8px;
    background-color: #363636;
    color: #fffb06;
    border: 1px solid #333232;
    border-radius: 5px;
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
    font-family: monospace, "Lucida Console";
    justify-content: center;
  }

  .searchItemImg {
    width: 60px;
    height: 200px;
    object-fit: cover;
  }

  .searchItemDesc {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 2;
    width: fit-content;
  }

  .searchItemTitle {
    font-size: 17px;
  }

  .searchItemTaxiOption {
    background-color: #008009;
    color: white;
    width: max-content;
    padding: 2px;
    border-radius: 5px;
    font-size: 8px;
  }

  .searchItemSubtitle {
    font-weight: bold;
  }

  .searchItemCancelOption {
    color: white;
    font-weight: bold;
  }

  .searchItemCancelOptionSubtitle {
    color: white;
  }

  .searchItemDetails {
    width: 30%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .searchItemRating {
    font-size: 12px;
    display: flex;
    gap: 10px;
    margin-top: 7px;
  }

  .searchItemRating>span {
    font-weight: 500;
    font-size: 10px;
  }

  .searchItemRating>button {
    font-size: 10px;
    background-color: #fffb06;
    color: black;
    padding: 5px;
    font-weight: bold;
    border: none;
    margin-right: 10px;
  }

  .searchItemDetailsText {
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 10px;
  }

  .searchItemPrice {
    font-size: 12px;
  }

  .searchItemDetailsTaxiOption {
    font-size: 8px;
    white-space: wrap;
    width: fit-content;
    padding: 4px;
  }

  .searchItemCheckBtn {
    background-color: #fffb06;
    color: #333232;
    border: none;
    cursor: pointer;
    padding: 5px 3px;
    font-size: 7px;
    font-weight: 700;
    margin-bottom: 10px;
  }
}